<mat-grid-list rowHeight="100px" gutterSize=".5em" cols="9">
  <mat-grid-tile colspan="3" rowspan="2" style="background-color: lightblue">
    Profile Pic
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" style="background-color: lightgrey">
    Fat Link
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" style="background-color: lightgrey">
    Fat Link
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" style="background-color: lightgrey">
    Fat Link
  </mat-grid-tile>
</mat-grid-list>
<div class="content">
  <router-outlet></router-outlet>
</div>
