@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cg-1: #8fbc8b;
  --cg-2: #68a68a;
  --cg-3: #4a8f86;
  --cg-4: #38777c;
  --cg-5: #325f6d;
  --cg-6: #2f4858;
  --foreground: black;
  --background: var(--cg-6);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: gray;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* // generic color palette
//#8fbc8b
//#68a68a
//#4a8f86
//#38777c
//#325f6d
//#2f4858 */
