@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cg-1: #8fbc8b;
  --cg-2: #68a68a;
  --cg-3: #4a8f86;
  --cg-4: #38777c;
  --cg-5: #325f6d;
  --cg-6: #2f4858;
  --foreground: black;
  --background: var(--cg-6);
}

@font-face {
  font-family: "Darker Grotesque";
  src: url('/fonts/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf') format('truetype');
  /* font-weight: bold; */
  font-style: normal;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: gray;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.circle-border {
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.animate-hover :hover {
  text-decoration: underline;
  transition: 1.0s;
}

.hover-link {
  text-decoration: none;
  color: #000; /* Base color */
  transition: all 0.3s ease-in-out; 

  &:hover {
    color: black; /* Hover color */
    text-decoration: underline;
    text-decoration-color: black; 
    text-decoration-thickness: 2px;
    /* text-underline-offset: 0;  */
    animation: underline-animation 0.5s forwards; 
  }
}
  
@keyframes underline-animation {
  0% { 
    text-decoration-color: transparent; 
  }
  100% {
    text-decoration-color: black; 
  }
}
/* // generic color palette
//#8fbc8b
//#68a68a
//#4a8f86
//#38777c
//#325f6d
//#2f4858 */
